<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

<%= (h "<h2> ahoj </h2>").html_safe %>

<div class="solution_container">
  
  <%= content_tag(:pre, @newtext, class: "programlisting") %>

  <div class="clippy">
    <%= (clippy @newtext).html_safe %>
  </div>

</div>

<div class="solution_container">

  <%= @lo_solution.html_safe %>
  
  <div class="clippy">
    <%= (clippy strip_tags(@lo_solution)).html_safe %>
  </div>

</div>

<div>
  <%= strip_tags(@text) %>
</div>

<div>
  <%= @newtext %>
</div
